:root{
   --primary-color:#222831;
    --accent-color:#007bff;
    --text-color:white;
    --card-color:#2b2b2b;
    
}

html{
    font-size: 16px;
}

html,body{
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    zoom:1;
    transform: none;
    width:100%;
}

body, p, a, li{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    /*background-color: var(--accent-color);*/
    background-color: var(--primary-color);
    margin: 0;
    padding:0 40px;
    box-sizing:border-box;
    z-index: 1000;
    height: 70px;
    position: fixed;
}

h1{
    font-size: 30px;
    margin-left:10px;
    font-weight: 400;
}

.logo{
    font-size:40px;
    font-weight: 400;
   font-family: "Poppins",sans-serif;
}

h2, h3, h4{
    font-family: "Poppins",sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
}

hr{
    margin:0;
    color:grey;
    outline: none;
    border: none;
    height: 1px;
}

#navbar ul{
    display: flex;
    gap:20px;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    color:var(--text-color);
    transition: 0.3s;
}

.nav-link:hover{
    color: var(--accent-color);
    cursor: pointer;
}

#main{
    padding:0;
    margin-top: 100px;
}

section{
    display: flex;
    color:var(--text-color);
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
}

#about{
    margin-top:-40px;
}

#about,#services,#projects{
    height:35rem;
}

.container{
    width: 40%;
}

.container p{
    letter-spacing: 0.2px;
    text-align: justify;
}

.container a{
    color:var(--text-color);
    background-color:var(--accent-color);
    width:100px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
}

.container a:hover{
    background-color: #00FF88;
}

h2{
    text-align:center;
    color: #00FF88;
}

h3{
    color:#00FF88;
}

.img-container{
    height:300px;
    width:400px;
}

.img-container img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}

#contact{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    padding: 30px;
    color:black !important;
}

#contact p{
    margin-top:-10px;
}

#contact-form{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#contact-heading{
    color:black;
}

label{
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

form button{
    margin-top: 20px;
    width:90px;
    font-size: 1.5rem;
    border-radius: 20px;
    border:none;
    background-color: var(--accent-color);
    font-weight: normal;
    color: var(--text-color);
    padding: 7px;
    transition: 0.3s;
}

form button:hover{
    background-color: #00FF88;
    cursor: pointer;
}

label[for="email"]::after{
    content: '(required)';
    opacity:0.7;
    margin-left:5px;
}

input{
    border-radius:5px;
    height:35px;
    outline: none;
    border:1px solid var(--primary-color);
}

textarea{
    height:55px;
    border:1px solid var(--primary-color);
    border-radius:5px;
    outline:none;
}

input:focus, textarea:focus{
    border:2px solid var(--accent-color);
}

#footer{
    background-color: var(--primary-color);
    text-align: center;
    color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
}

#footer strong{
    color:var(--accent-color);
}

.footer-icons i{
    color: var(--accent-color);
    font-size:30px;
    transition:transform 0.3s ease;
}

.footer-icons i:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.footer-icons p{
    font-size: 20px;
}

.pricing-section {
  text-align: center;
  padding: 60px 20px;
  color: #fff;
  flex-direction:column;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
  flex-direction: row;
}

.pricing-card {
  background-color: var(--card-color);
  border-radius: 15px;
  padding: 30px;
  width: 280px;
  transition: transform 0.3s ease;
}

.pricing-card:hover {
  transform: translateY(-10px);
}

.pricing-card h3 {
  color: var(--accent-color); /* electric blue */
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.pricing-card li {
  margin: 10px 0;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
}

.btn {
  margin-top: 20px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.25rem;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #00FF88;
}

@media only screen and (max-width:800px){
    header{
        justify-content: center;
    }

    #navbar{
        display: none;
    }

    section{
        flex-direction: column;
        max-width:100%;
    }

    #about,#projects,#services{
    height:50rem;
    }

    #about,#projects{
        flex-direction: column-reverse;
    }

    .container{
        width:80%;
    }

    #contact-form{
        width:70%;
    }

    .img-container{
        width: 90%;
    }
}

@media only screen and (max-width:750px){
    .pricing-card{
        width:70%;
    }
}

@media only screen and (max-width:450px){
    #about,#services{
        height:60rem;
    }

    header{
        justify-content: center;
    }
}

.logo-section{
    display: flex;
    flex-direction: row;
    color:var(--text-color);
    align-items: center;
    justify-content: space-evenly;
}

#projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    gap: 2rem;
    flex-direction: row;
}

.project-card{
    background-color: var(--card-color);
    width:280px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color:var(--text-color);
    height: 530px;
}

.project-card:hover{
    transform: translateY(-10px);
}

.project-card h3{
    color:var(--accent-color);
}

.project-card h3,p,a{
    margin-left: 10px;
}

.project-card img{
    object-fit: cover;
    width:100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-link{
    display:block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.service-card h3{
    color:var(--accent-color);
}